*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  width: 1740px;
  margin: 0 auto;
}
.slider-container img {
  width: 1920px;
  margin: 0 auto; 
}
a{
  text-decoration: none;
}
.slider-container{
  display: flex;
  align-items:center ;
  justify-content: center;

}
